{% extends 'layout.html' %}
{% block body%}

<div class="register">
    <h1>Professor register</h1>
    <br>
    <form action="url_for('shedulep', variable={{nshedules}})" method="POST">
        {% for shift in range(nshedules) %}
        <h3>{{shift+1}}</h3>
        <div class="form-group">
            <label for="input_schedule_day">Enter the day of the schedule</label>
            <input type="date" class="form-control" name="schedule_day" required>
        </div>
        <div class="form-group">
            <label for="input_schedule_hour">Enter the hour of the schedule</label>
            <input type="time" class="form-control" name="schedule_hour" required>
        </div>
        <br>
        {% endfor %}
        <button class="btn btn-primary btn-block">Submit</button>
    </form>
</div>
{% endblock %}