{% extends 'layout.html' %}
{% block body%}

<div class="register">
    <h1>Professor register</h1>
    <br>
    <form action="{{url_for('shedulepn')}}" method="POST">
        <div class="form-group">
            <label for="input_schedules">How many work schedules will be?</label>
            <input type="number" min="0" class="form-control" name="nshedules" placeholder="Number schedules" required>
        </div>
        <button class="btn btn-primary btn-block">Submit</button>
    </form>
</div>
{% endblock %}